body {
    background-color: aquamarine;
    float: left;
    width: 90%;
    margin: 2em 5%;

}

.title {
    border: 3px blue solid;
    text-align: center;
    background: seashell;
   
}

h1 {
    color: yellow;
    text-shadow: 3px 3px 10px red;
}

.top_nav {
    text-align: center;
    border: 3px blue double;
    background-color: aqua;
    
}

.top_nav a {
    text-decoration: 0;
    font-weight: 600;
    font-size: large;
    padding: 0 1em;
    
}

.top_nav a:hover {
    color:darkgrey;
}